<!doctype html>
<html ng-app="votingMachine" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>votingMachine</title>
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="app.css">
 	<script src="bower_components/angular/angular.min.js"></script>
  	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
  	<script src="bower_components/firebase/firebase.js"></script>
  	<script src="bower_components/angularfire/dist/angularfire.min.js"></script>
  	<script src="app.js"></script>
  </head>
  <body ng-controller="mainController">

	<div data-loader class="loader" ng-class="{'visible':Loader.visible}"></div>

	<div class="container login" ng-controller="AuthCtrl" ng-hide="loggedIn">
	  <form ng-submit="login()" novalidate>
	   <input type="email" class="form-control" placeholder="Email" ng-model="email" /> 
	    <input type="password" class="form-control" placeholder="Password" ng-model="password" />
	    <button type="submit" >Login</button>
	  </form>
	</div>

    <div class="container candidates" ng-if="loggedIn" ng-hide="modal"> 
		<div class="card"
	     	     ng-repeat="(id, candidate) in candidates"
	             ng-click="showConfirm(id)">
	  	<img ng-src="{{ candidate.image }}"/>
	  	<div class="card-block">
	    		<h4 class="card-title">
	      			{{ candidate.name }}
	    		</h4>
	  	</div>
		</div>
	</div>



	<div class="confirm modal" ng-if="modal">
		<h3> Confirm Vote </h3>
		<p>Are you sure you want to vote for <b>{{ candidates[currentId].name }}</b> ? </p>
		<div class="modal-actions" >
			<button class="btn vote " ng-click="addVote(currentId)"> yes </button>
			<button class="btn modal-close" href="#" ng-click="closeModal()">No</button>	
		</div>	
	</div>



  </body>
</html>
