<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Image</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	<tr ng-repeat="candidate in candidates">
		<td editable-text="candidate.name">{{ candidate.name }}</td>
		<td editable-text="candidate.image">{{ candidate.image }}</td>
		<td>
      <button class="btn btn-danger " ng-click="settingsController.deleteCandidate(candidate)">
        <i class="glyphicon glyphicon-remove"></i> Delete
      </button>
   </td>
	</tr>
	</tbody>
</table>

<button class="btn btn-large btn-primary" ng-click="showCreateForm()">
  <i class="glyphicon glyphicon-plus"></i> Add Candidate 
</button>

<div ng-if="createForm">
  <form ng-submit="addCandidate(newCandidate)" class="row">
    <div class="form-group col-md-5">
      <input type="text" class="form-control" placeholder="name" id = "newCandidateName"
                                              ng-model="newCandidate.name">
    </div>
    <div class="form-group col-md-5">
      <input type="text" class="form-control" placeholder="image"
                                              id="newCandidateImage" ng-model="newCandidate.image">
    </div>

    <div class="col-md-2">
      <button type="submit" class="btn bth-default"> Submit </button> 
    </div>
  </form> 
</div>
